<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>949908442037-tp7muff8ihetcohgohgo8bug53m0d3li.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.949908442037-tp7muff8ihetcohgohgo8bug53m0d3li</string>
	<key>API_KEY</key>
	<string>AIzaSyB9e03nL4pVvX_-lgUSDhZh8KV8S87Nepg</string>
	<key>GCM_SENDER_ID</key>
	<string>949908442037</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.educationapp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>educationapp-20b49</string>
	<key>STORAGE_BUCKET</key>
	<string>educationapp-20b49.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:949908442037:ios:3ab88d0d2394198f1d27fc</string>
</dict>
</plist>